.body{
    background-color: #2e587a;
}

.heading{
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 60px;
}

.title{
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.main{
    position: absolute;
    top: 200px;
    left: 100px;
}

.description{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: lightgray;
    top: 150px;
    font-size: 35px;
}

.iconrow {
    position: absolute;
    top: 400px;
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding-right: 50px;
    text-align: center;
    width: 100px;
    color: white;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

